
<h2>Users</h2>


<form method="POST" class="form">
   <button type="submit" class="btn btn-small" onclick="submitForm('/DELETE')">Delete</button>
  
  <button type="submit" class="btn btn-small" onclick="submitForm('/BLOCK')"><img src="userLock.png" alt="lock user"></button>
  <button type="submit" class="btn btn-small" onclick="submitForm('/UNBLOCK')"><img src="userUnlock.png" alt="unlock user"></button>
<input type="hidden" name="actLogin" value="{{user_id}}" name="id">
{{#if user.length}}
<table class="striped centered">
  <thead>
    <tr>
    <th><label>
        <input type="checkbox" value="{{_id}}" name="id" id="multCheckbox" onclick="multSelect()"/>
        <span></span>
      </label></th>
    <th>
      id
    </th>
    <th>
      name
    </th>
    <th>
      email
    </th>
    <th>
      date of registration
    </th>
    <th>
      last login
    </th>
  </tr>
  </thead>
  
  {{#each user}}
    <tr {{#if blocked}}
    class="red blocked"
      {{/if}}
    >
      <td><label>
        <input type="checkbox" value="{{_id}}" name="id" class="userCheckbox"/>
        <span></span>
      </label>
      </td>
      <td>{{this._id}}</td>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.dateRegistration}}</td>
      <td>{{this.lastLogin}}</td>
      <td></td>
    </tr>
  {{/each}}
</table>
  
</form>
{{else}}
<p>No users!</p>
{{/if}}